html {
    font-size: 65%;
}

body {
    font-size: 16px;
}

.tabla {
    height: 350px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    table-layout: fixed;
}

.tabla td {
    text-align: center;
}

.tabla .mostrar {
    border: solid 1rem black;
    background-color: #E0FAF1;
}

.result {
    display: flex;
    gap: 25px;
    justify-content: center;
    /* margin-top: 10px; */
    max-width: 120rem;
    margin: 0 auto;
}

.result div {
    padding: 1rem;
    font-size: 2rem;
}

.tabla .result input::placeholder {
    font-style: italic;
    color: black;
    font-size: 50px;
}

.tabla .filas input {
    width: 75%;
    height: 75%;
}